
body{
    background-color: darkgrey;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #fff;
    padding: 15px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    border-radius: 12px;
    padding: 10px;
}
.title{
    color: #fff;
    font-size: 45px;

}

.item-confirm-pass {
    margin-bottom: 40px;
}

input{
    background-color: #000;
    border-radius: 12px;
    border: 1px solid rgb(97, 57, 167);
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    color: #fff;
}
::placeholder{
    color: #fff;
}
button{
    color: #fff;
    background-color: rgb(68, 5, 157);
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}

button:hover{
    background-color: rgb(126, 16, 228);
}
.modal{
    /* visibility: hidden; */
    display: none;
    border: 1px solid #000;
    text-align: center;
    background-color: azure;
}

.error{
    border-color: red;
}

.off{
    visibility: hidden;
}

.on{
    /* visibility: visible; */
    display: block;
}
